# VS Code
.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Code formatting
.prettierrc

# Database files
memorykeeper.db
*.db-journal

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Local environment variables
.env

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Logs
*.log